* {
	box-sizing: border-box;
}
:root{
	--kolor-tla: #060e31;
	--kolor-jasny: #e90e0e;
	--kolor-ciemny: #2623e2;
	--kolor-czcionki: #ffffff;
}
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Signika', sans-serif;
	color: var(--kolor-czcionki);
	background-color: var(--kolor-tla);
}
.quiz {
	width: 100%;
	min-height: 97vh;
	padding:2vw 20vw;
}
.quiz__category{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}
.quiz__category-item{
	list-style: none;
	margin: 10px;
}
.quiz__category-button{
	padding: 5px;
	width: 150px;
	background-color:var(--kolor-ciemny);
	border: 2px solid var(--kolor-jasny);
	border-radius: 5px;
	cursor: pointer;
	color: var(--kolor-czcionki);
	font-size: 15px;
}
.quiz__category-button:focus,
.quiz__category-button:active{
	border: 2px solid #fff;
	outline: 0;
}
.quiz__category-button:hover{
	background-color: var(--kolor-tla);
}
.quiz__container {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px 15px;
	width: 100%;
	min-height: 400px;
	height: max-content;
	margin: 20px auto;
	border: 2px solid var(--kolor-jasny);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.quiz__container::after{
	content: '';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left:0;
	background-image: url("background.jpg");/*Photo by Aron Van de Pol on Unsplash*/
	background-size: cover;
	background-position: bottom;
	border-radius: 10px;
	z-index: -1;
}
.quiz__instruction{
	text-align: center;
	font-size: 40px;
	padding: 10px;
	
}
.quiz__question{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	margin: 2px;
	animation: show 1s;
}
.quiz__option{
	font-size: 25px;
	padding: 10px;
	cursor: pointer;
	animation: show 1s;
}
.quiz__option:hover{
	color: var(--kolor-jasny);
}
:checked + span {
	color: var(--kolor-ciemny);
  }

.disabled {
	pointer-events: none;
}
.massage {
	width: 50%;
	min-height: 70px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.good {
	background-color: #0e910e;
	animation: show 1s;
	border-radius: 5px;
	padding: 10px;
	margin:3px;
}

.null {
	background-color: #2e31db;
	border-radius: 5px;
	padding: 10px;
	animation: show 1s;
	margin:3px;
}

.bad {
	background-color: #f11919;
	border-radius: 5px;
	padding: 10px;
	animation: show 1s;
	margin:3px;
}
@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.check{
	width: 50%;
	padding: 20px;
	align-self: center;
	border-radius: 10px;
	border: 2px solid var(--kolor-ciemny);
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: var(--kolor-ciemny);
	animation: show 1s;
}
.check:focus,
.check:active{	
	outline: 0;
}
.check:hover{
	background-color: var(--kolor-tla);
	color: var(--kolor-czcionki);
}
.koniec{
	text-align: center;
	font-size: 50px;
}
.footer{
	text-align: center;
	font-size: 12px;
	height: 3vh;
}